.card {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .card__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right; }

.cardDescription__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cardDescription__more {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
